* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow: hidden;
}

/*
.navBar {
    width: 100%;
    height: 50px;
    background-color: black;
}

.navBar ul {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navBar ul li {
    list-style: none;
}

.navBar ul li a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

.navBar ul li a:hover {
    color: red;
}

*/

.hDiv {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 20px;
    pointer-events: none;
}

.hIcon {
    position: absolute;
    top: 15px;
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
}

.hIcon::before {
    content: "";
    position: absolute;
    top: 8px;
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.hIcon::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

#menu {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 25px;
    height: 25px;
    display: block;
    opacity: 0;
}

#menu:checked ~ .hDiv .hIcon::before {
    top: 0;
    rotate: 45deg;
}

#menu:checked ~ .hDiv .hIcon::after {
    bottom: 0;
    rotate: -45deg;
}

#menu:checked ~ .hDiv .hIcon {
    width: 0;
}

#menu:checked ~ ul li {
    left: 50%;
}

.navBar {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: black;
}

.navBar ul li {
    position: relative;
    top: 50px;
    left: 100%;
    width: 50%;
    height: 50px;
    background: black;
    list-style: none;
    transition: 0.3s ease-in-out;
}

.navBar ul li a {
    border-top: 1px solid gray;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

