* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
}

.hDiv {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 20px;
    pointer-events: none;
}

.hIcon {
    position: absolute;
    top: 15px;
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
}

.hIcon::before {
    content: "";
    position: absolute;
    top: 8px;
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.hIcon::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

#menu {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 25px;
    height: 25px;
    display: block;
    opacity: 0;
}

#menu:checked ~ .hDiv .hIcon::before {
    top: 0;
    rotate: 45deg;
}

#menu:checked ~ .hDiv .hIcon::after {
    bottom: 0;
    rotate: -45deg;
}

#menu:checked ~ .hDiv .hIcon {
    width: 0;
}

#menu:checked ~ ul li {
    left: 50%;
}

.navBar {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: black;
}

.navBar ul li {
    position: relative;
    top: 50px;
    left: 100%;
    width: 50%;
    height: 50px;
    background: black;
    list-style: none;
    transition: 0.3s ease-in-out;
}

.navBar ul li a {
    border-top: 1px solid gray;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    gap: 10px;
    padding: 20px 30px;
}

.adatok, .erModell, .relaciosModell, .tablakLetrehozasa, .tablakFeltoltese, .lekerdezesek {
    display: grid;
    gap: 10px;
}

.adatok h3 {
    padding-left: 20px;
}

.adatok li {
    padding-left: 40px;
    list-style: none;
}

.img {
    width: 100%;
    text-align: center;
}

img {
    width: 100%;
}

@media (min-width: 992px) {
    
    .hDiv {
        display: none;
    }
    
    #menu {
        display: none;
    }

    .navBar ul {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .navBar ul li {
        top: 0;
        left: 0;
        width: auto;
        transition: none;
    }
    
    .navBar ul li a {
        border-top: none;
        width: auto;
        transition: 0.2s ease-in-out;
    }

    .navBar ul li a:hover {
        color: cornflowerblue;
    }

    img {
        width: 70%;
    }

}